
body {
   background-color: #cccccc;
}

h1 {
   text-align: center;
}

h1 {
   text-align: center;
}

h2 {
   margin-top: 10px;
   padding-top: 10px;
   margin-bottom: 0px;
   padding-bottom: 0px;
}

h3 {
   margin-top: 8px;
   padding-top: 8px;
   margin-bottom: 0px;
   padding-bottom: 0px;
}

img {
}

dt {
   font-size: 16;
   font-weight: bold;
}