RobotMap.java:$package-path/RobotMap.java
OI.java:$package-path/OI.java
CommandBase.java:$package-path/commands/CommandBase.java

## Export Commands as files
#if ($export-commands)
#foreach ($command in $commands)
#if ($command.base.name == "Command Group")
CommandGroup.java:$package-path/commands/#class($command.name).java:command=${command.name}
#else
Command.java:$package-path/commands/#class($command.name).java:command=${command.name}
#end 
#end 
#end

## Export Subsystems as files
#if ($export-subsystems)
#foreach ($subsystem in $subsystems)
Subsystem.java:$package-path/subsystems/#class($subsystem.name).java:subsystem=${subsystem.name}
#end
#end
