## Filter components and make a table.
#macro( filter $module_name $port_name $module_number )
    #set($ports = $helper.filterComponents($module_name, $port_name, $module_number, $robot))
    #foreach ($port in [1..20])
    	#if( $ports.containsKey("$port") )
	    #tr($port, $ports.get("$port"))
	#end
    #end ##forech
#end ## macro

## Generate a table row
#macro( tr $port $name )
<tr><td>$port</td><td>$name</td></tr>
#end

## Generate the DIO table for a module
#macro( DIO $module )
    #filter("Module (Digital)", "Channel (Digital)", $module)
#end ##macro

## Generate the PWM table for a module
#macro( PWM $module )
    #filter("Module (Digital)", "Channel (PWM)", $module)
#end ##macro

## Generate the Analog table for a module
#macro( Analog $module )
    #filter("Module (Analog)", "Channel (Analog)", $module)
#end ##macro